
form {
    padding: 20px;
}

/* .auth-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
} */
.input-field label {
    display: block;
    padding-bottom: 5px;
    font-size: 1.15em;
    font-weight: 500;
    color: #5d6874;
}
.input-field{
    padding: 10px;
}

.input-field input {
    width: 250px;
    padding: 5px;
    border-radius: 33px;
    border: 1px solid #b0b0b0;
    /* background: #0b2441; */
    height: 20px;
    padding-left: 12px;
    outline: none;
}

.auth-submit-btn {
    text-align: center;
    padding: 20px 10px;
}



 :is(.auth-form, .user-profiler-cont) .auth-submit-btn input{
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    width: 270px;
    font-size: 1.1em;
    font-weight: 600;
    background: linear-gradient(45deg, #162d48, #224369);
    color: whitesmoke;
    cursor: pointer;

}

.notify-message{
    padding-left: 20px;
    
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    position: fixed;
    right: -100%;
    top: 90px;
    pointer-events: none;
    font-size: 1.1em;
    animation: slide-left 0.5s ease-in-out both;
}
.form-error-msg{
    color: red;
    background: #fed2d2;
}
.form-success-msg{
    color: #018218;
    background: #91ffc1;
}

@keyframes slide-left{
    0%{
        right: -100%;
    }
    100%{
        right: 5px;
    }
}


.already-acc-dec{
    a{
        display: inline-block;
    }
}

